# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# macOS system files
**/.DS_Store
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.lst
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
target/surefire-reports/edu.baker.finalproject.BigDecimalUtilsTest.txt
target/surefire-reports/edu.baker.finalproject.FinalProjectTest.txt
target/surefire-reports/edu.baker.finalproject.RPNEquationProcessorTest.txt
target/surefire-reports/TEST-edu.baker.finalproject.BigDecimalUtilsTest.xml
target/surefire-reports/TEST-edu.baker.finalproject.FinalProjectTest.xml
target/surefire-reports/TEST-edu.baker.finalproject.RPNEquationProcessorTest.xml
